[submodule "lib/campdown"]
	path = lib/campdown
	url = https://github.com/poetaster/campdown
[submodule "lib/mutagen"]
	path = lib/mutagen
	url = https://github.com/poetaster/mutagen
[submodule "lib/docopt"]
	path = lib/docopt
	url = https://github.com/poetaster/docopt
[submodule "lib/requests"]
	path = lib/requests
	url = https://github.com/poetaster/requests
