[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-happycamper
Exec=sailfish-qml harbour-happycamper
Name=Happycamper
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
X-Maemo-Method=de.poetaster.happycamper.openUrl
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Happycamper

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=de.poetaster
# ApplicationName does not have to be identical to Name
ApplicationName=Happycamper
# Add the required permissions here
Permissions=Internet;MediaIndexing;Music;RemovableMedia;UserDirs
