[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-happycamper
Exec=sailfish-qml harbour-happycamper %u
Name=Happycamper
Name[de]=Happycamper
#X-DBusActivatable=true
[X-Sailjail]
#Sandboxing=Disabled
# Replace with your organization as a reverse domain name
OrganizationName=de.poetaster
# ApplicationName does not have to be identical to Name
ApplicationName=happycamper
# Add the required permissions here
Permissions=Internet;Audio;MediaIndexing;Music;RemovableMedia;UserDirs
