[Desktop Entry]
Type=Application
Icon=harbour-happycamper
Name=Happycamper
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
X-Maemo-Service=de.poetaster.happycamper
X-Maemo-Object-Path=/de/poetaster/happycamper
X-Maemo-Method=de.poetaster.happycamper.openUrl
NotShowIn=X-MeeGo;
Hidden=true
