[D-BUS Service] 
Name=de.poetaster.happycamper Exec=/usr/bin/invoker -s --type=generic /usr/bin/sailjail -p harbour-happycamper.desktop /usr/bin/sailfish-qml harbour-happycamper
